:root {
    --bg: #fefefe
    --cyan: #1e9191;
    --light-gray: #eee;
    --gray: #6a6a6a;
    --dark: #444;
    --darker: #222;
    --code: #666;
    --code-bg: #0000000a
}

@charset "utf-8"; body {
    padding: 1em;
    margin: auto;
    max-width: 72em;
    background: var(--bg);
}

header {
    margin-bottom: 10px;
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    min-width: 0;
    font-size: .889rem;
    background-color: var(--code-bg);
}

pre<code {
    color: var(--code);
}

code {
    font-variant: normal;
    font-size: .889rem;
    border-bottom: unset;
    color: var(--code);
}

nav {
    margin-top: 10px;
    float: center;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    display: block;
    max-width: 34rem;
    margin: 0 auto;
    font-size: .889rem;
    color: var(--gray);
    padding: 1rem;
}
