:root {
    --col-black: #000000;
    --col-black-alt: #181a20;
    --col-red: #ff8059;
    --col-red-alt: #f4923b;
    --col-green: #44bc44;
    --col-green-alt: #00cd68;
    --col-yellow: #eecc00;
    --col-yellow-alt: #f0ce43;
    --col-blue: #00bdfa;
    --col-blue-alt: #72a4ff;
    --col-magenta: #feacd0;
    --col-magenta-alt: #b6a0ff;
    --col-cyan: #00d3d0;
    --col-cyan-alt: #6ae4b9;
    --col-white-alt: #a8a8a8;
    --col-white: #ffffff;
    --col-calm: #fbd6f4;
    --col-cold: #c6eaff;
    --col-mild: #bfebe0;
    --col-warm: #f8dec0;
    --col-bgdim: #110b11;
    --col-brandbg: #121212;
    --col-brandfg: #b2a2a2;
    --col-brandlink: #c8d4df;
    --col-basebg: var(--col-black);
    --col-basebgalt: var(--col-black-alt);
    --col-basefg: var(--col-white);
    --col-basefgalt: var(--col-white-alt);
    --col-baselinkfg: var(--col-blue);
    --col-baselinkfgalt: var(--col-cyan);
    --col-baselinkfghover: var(--col-blue-alt);
    --col-baselinkfgalthover: var(--col-cyan-alt);
    --col-inlinecodebg: var(--col-basebgalt);
    --col-inlinecodefg: var(--col-basefg);
    --col-codeblockbg: var(--col-bgdim);
    --col-codeblockfg: var(--col-basefg);
    --col-notifyinfo: var(--col-blue);
    --col-notifynote: var(--col-green);
    --col-notifywarn: var(--col-yellow);
    --col-notifycrit: var(--col-red);
}

@charset "utf-8"; body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.44;
    padding: 1em;
    margin: auto;
    max-width: 72em;
    color: var(--col-basefg);
    background: var(--col-basebg);
}

nav {
    border-radius: 10px;
    color: var(--col-brandfg);
    background: var(--col-brandbg);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

nav > div > ul > li > a {
	display: block;
	line-height: 2rem;
	padding: 0.5em 0.5em;
	text-decoration: none;
	color: var(--col-brandlink);
}

.nav-left {
	float: left;
}

.nav-right ul li {
	float: right;
}

code {
    font-size: .889rem;
    padding: 0 .25rem;
    color: var(--col-inlinecodefg);
    background: var(--col-inlinecodebg);
}

pre {
    font-size: .889rem;
    margin: 1.44rem 0;
    padding: 1rem;
    padding-left: 1.44rem;
    white-space: pre;
    overflow-x: auto;
    word-break: normal;
    word-wrap: inherit;
    color: var(--col-codeblockfg);
    background: var(--col-codeblockbg);
}

img {
    display: block;
    margin: 0 auto;
}

a {
    color: var(--col-baselinkfg);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    padding: 0;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.728rem;
    font-weight: 700;
    color: var(--col-warm);
}

h3 {
    font-size: 1.44rem;
    font-weight: 700;
    color: var(--col-cold);
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--col-mild)
}

h5 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--col-calm)
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--col-basefgalt)
}

footer {
    display: block;
    max-width: 34rem;
    margin: 0 auto;
    font-size: .889rem;
    color: var(--col-basefgalt);
    padding: 1rem
}
